
nav {
  position: absolute;
  left: -45px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;

  ul {

    li {
      &:first-child {
        left: -20px;
        height: 75px;
        transition: 1s;

        &:hover {
          left: 6px;
        }
      }

      &:nth-child(2) {
        left: -25px;
        transition: 1s;

        &:hover {
          left: 6px;
        }
      }

      &:last-child {
        left: -44px;
        transition: 1s;

        &:hover {
          left: 6px;
        }
      }

      position: relative;
      height: 95px;
      left: -10px;

      &:hover {
      }

      a {
        color: white;
        position: absolute;
        transform: rotate(90deg);
        transition: 1s;
        padding: 10px 20px;

        &:hover {
          border: 1px solid #000;
          color: black;
          transform: rotate(0);
          background: #fff;
        }
      }
    }
  }
}